# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Test Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/